VITE_SUPABASE_URL=https://kblobarjzrloqjikpbun.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtibG9iYXJqenJsb3FqaWtwYnVuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkzOTQ0MjksImV4cCI6MjEwNDk3MDQyOX0.-O4t_Nt789rtB19bXbzUn0x4qepBVxlfh2ibDjwp03Y
